.promo-section {
  margin-top: 68px;
}

.promo-section > .container {
  width: 100%;
  max-width: var(--max-width--pc);
  margin: 0 auto;
}

.promo-list {
  display: flex;
  gap: 10px;
}

.promo-list > li {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.promo-list > li > .icon {
  font-size: 30px;
}

.promo-list > li > .text {
  font-size: var(--font-size--x-large);
  padding: 30px 0;
}

.promo-list > li > h6 {
  font-size: var(--font-size--small);
}
